<div class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0">Условия</h5>
  </div>
  <form class="form" #f="ngForm" novalidate>
    <div class="card-body bg-light overflow-hidden">
      <div class="mb-3" *ngIf="canShowElement('conditions')">
        <textarea class="form-control" name="conditionsValue" placeholder="Условия не заданы"
                  [(ngModel)]="conditionsData.value"
                  (ngModelChange)="onConditionsChanged()"
                  [ngClass]="{ 'is-invalid': Submitted && !isFieldValid('conditions') }" rows="3"
                  (keypress)="onConditionsValueChanging($event)">
        </textarea>
        <div class="d-flex flex-fill flex-nowrap">
          <div class="d-flex flex-fill">
            <div *ngIf="!isFieldValid('conditions')" class="text-danger">
              <div *ngIf="canShowTotalLength('conditions')">
                <small>Превышено максимальное количество символов.</small>
              </div>
              <div *ngIf="!canShowTotalLength('conditions')">
                <small>Превышена максимальная длинна условий.</small>
              </div>
            </div>
          </div>
          <div style="min-width: 40pt">
            <div class="d-flex justify-content-end">
              <div *ngIf="canShowTotalLength('conditions'); else Length">
                <small>{{totalLength}} / {{getMaxTotalLength('conditions')}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid p-0 mb-3" *ngIf="canShowElement('salary')">
        <app-salary #salary
          [salaryData]="conditionsData.salaryData"
          [supplierId]="supplierId"
          [formatData]="formatData"
          [orderPositionId]="orderPositionId">
        </app-salary>
      </div>
      <div class="container-fluid p-0 mb-3" *ngIf="canShowElement('work-graphic')">
        <app-work-graphic #workGraphic
          [workGraphicData]="conditionsData.workGraphicData"
          [supplierId]="supplierId"
          [formatData]="formatData">
        </app-work-graphic>
      </div>
      <div class="container-fluid p-0 mb-3" *ngIf="canShowElement('occurrence')">
        <app-occurrence #occurrence
          [occurrencesData]="occurrenciesData"
          [supplierId]="supplierId"
          [formatData]="formatData">
        </app-occurrence>
      </div>
      <div class="container-fluid p-0 mb-3" *ngIf="canShowElement('address')">
        <app-address #address
          [addressesData]="addressesData"
          [supplierId]="supplierId"
          [formatData]="formatData">
        </app-address>
      </div>

      <div class="row no-gutters">
        <div class="custom-control custom-checkbox mb-3 mr-2" *ngIf="canShowElement('housing')">
          <input class="custom-control-input" type="checkbox" id="isHousing" name="isHousing" [(ngModel)]="conditionsData.isHousing">
          <label class="custom-control-label" for="isHousing">Предоставляется жильё</label>
        </div>
        <div class="custom-control custom-checkbox mb-3" *ngIf="canShowElement('food')">
          <input class="custom-control-input" type="checkbox" id="isFood" name="isFood" [(ngModel)]="conditionsData.isFood">
          <label class="custom-control-label" for="isFood">Предоставляется питание</label>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #Length>
  <small>{{getLength()}} / {{getMaxLength('conditions')}}</small>
</ng-template>





