<div class="card h-100 ml-md-2">

  <div class="bg-holder d-none d-md-block bg-card"
    style="background-image:url(../assets/img/illustrations/corner-3.png);">
  </div>

  <div class="card-body py-0 pr-0">
    <div class="row">
      <div class="col">
        <div class="order-sm-1 order-md-2 pl-0 py-3" style="position: absolute; z-index: 1;">
          <h5 class="mt-2">Мой баланс</h5>
          <div class="fs--2 mt-3">
            <div class="d-flex flex-between-center mb-2">
              <div class="d-flex flex-wrap align-content-between">
                <span style="min-width: 190px;" class="mb-1 font-weight-semi-bold">
                  <span class="dot" [style.background]="option.color[0]"></span>
                  ООО "РДВ-медиа"
                </span>
                <div class="fs--1" style="margin-left: 20px; min-width: 100px;">
                  <span class="fa fa-ruble"></span>
                  <span id="rdv-balance" class="font-weight-medium"></span>
                </div>
              </div>

            </div>

            <div class="d-flex flex-between-center mb-2">
              <div class="d-flex flex-wrap align-content-between">
                <span style="min-width: 190px;" class="mb-1 font-weight-semi-bold">
                  <span class="dot" [style.background]="option.color[1]"></span>
                  ООО "Центр Кадровой Прессы"
                </span>
                <div class="fs--1" style="margin-left: 20px; min-width: 100px;">
                  <span class="fa fa-ruble"></span>
                  <span id="ckp-balance" class="font-weight-medium"></span>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col my-sidebar ml-auto p-0">
        <div class="ml-auto" style="position: relative; width: 170px; height: 170px;">
          <div style="z-index: 0; position: absolute; width: 170px; height: 170px;" class="d-flex align-items-center">
            <div class="container text-center font-weight-medium text-dark fs-1">
              <div style="color: #757372;">
                <span class="fa fa-ruble"></span>
                <span id="total-balance" class="font-weight-medium"></span>
              </div>
            </div>
          </div>
          <div class="my-sidebar" id="chart" style="z-index: 1; position: absolute; width: 170px; height: 170px;">
            <div class="echart-doughnut" data-echart-responsive="true">
            </div>
          </div>

        </div>
      </div>

    </div>