<div class="card mb-3">
  <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../assets/img/illustrations/corner-4.png);">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-10">
        <h3 class="mb-0">Счета</h3>
        <p class="mt-2">Это самые новые счета. Если Вам нужно видеть больше нажмите "Загрузить ещё".</p>
        <p class="mt-2">А чтобы ознакомиться со счётом более детально щёлкните по его номеру.</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body pb-0">
    <div class="table-responsive">
      <table class="table table-striped border-bottom fs--1">
        <thead class="bg-200 text-900">
          <tr>
            <th class="pr-1 align-middle" (click)="onSort('number')">
              <div class="d-flex flex-nowrap justify-content-center">
                <span>Номер</span>
                <div *ngIf="sortField != 'number'">
                  <ng-container *ngTemplateOutlet="sort"></ng-container>
                </div>
                <div *ngIf="sortField == 'number' && sortDirection == 1">
                  <ng-container *ngTemplateOutlet="sortAsc"></ng-container>
                </div>
                <div *ngIf="sortField == 'number' && sortDirection == -1">
                  <ng-container *ngTemplateOutlet="sortDesc"></ng-container>
                </div>
              </div>
            </th>
            <th class="pr-1 align-middle" (click)="onSort('date')">
              <div class="d-flex flex-nowrap justify-content-center">
                <span>Дата</span>
                <div *ngIf="sortField != 'date'">
                  <ng-container *ngTemplateOutlet="sort"></ng-container>
                </div>
                <div *ngIf="sortField == 'date' && sortDirection == 1">
                  <ng-container *ngTemplateOutlet="sortAsc"></ng-container>
                </div>
                <div *ngIf="sortField == 'date' && sortDirection == -1">
                  <ng-container *ngTemplateOutlet="sortDesc"></ng-container>
                </div>
              </div>
            </th>
            <th class="align-middle text-right">Сумма</th>
            <th class="align-middle text-right">Долг</th>
            <th class="align-middle text-left pl-3">Оплата</th>
            <!--
            <th class="align-middle text-left">Клиент</th>
            -->
            <th class="align-middle text-left">Поставщик</th>
            <!--
            <th class="pr-1 align-middle data-table-row-action"></th>
            -->
          </tr>
        </thead>
        <tbody id="accounts-body">
          <tr class="btn-reveal-trigger" *ngFor="let account of accountsToDisplay">
            <td class="align-middle text-center text-primary">
              <a class="btn-link" [routerLink]="[account.id]"><strong>{{account.number}}</strong></a>
            </td>
            <td class="align-middle text-center">{{account.date | date:'dd.MM.yyyy' }}</td>
            <td class="align-middle text-right">{{account.sum | number:'1.2-2': 'ru'}}</td>
            <td class="align-middle text-right">{{account.sum - account.paid | number:'1.2-2': 'ru'}}</td>
            <td class="align-middle text-left fs-0 pl-3">
              <div *ngIf="account.sum == account.paid">
                <ng-container *ngTemplateOutlet="completePaid"></ng-container>
              </div>
              <div *ngIf="account.sum > account.paid && account.paid > 0" class="w-auto">
                <ng-container *ngTemplateOutlet="partialPaid"></ng-container>
              </div>
              <div *ngIf="account.paid == 0" class="w-auto">
                <ng-container *ngTemplateOutlet="notPaid"></ng-container>
              </div>
            </td>
            <td class="align-middle text-left">{{account.supplier.name}}</td>
          </tr>
        </tbody>
      </table>
      <div class="mb-3">
       <small>Загружено записей: {{accountsCount}}</small>
      </div>
      <div class="container-fluid d-flex justify-content-center mb-3" id="getMoreItemsSection">
        <button class="btn btn-outline-secondary" [disabled] = "allAccountsLoaded" (click)="getMoreItems()">Загрузить ещё<span class="fa fa-arrow-down ml-1"></span></button>
      </div>
    </div>
  </div>
</div>



<ng-template #completePaid>
  <span class="badge badge rounded-capsule badge-soft-success" style="width: 100%; max-width: 100px">Оплачен<span class="ml-1 fa fa-check" data-fa-transform="shrink-2"></span></span>
</ng-template>

<ng-template #partialPaid>
  <span class="badge badge rounded-capsule badge-soft-warning" style="width: 100%; max-width: 100px">Частично<span class="ml-1 fa fa-exclamation-circle" data-fa-transform="shrink-2"></span></span>
</ng-template>

<ng-template #notPaid>
  <span class="badge badge rounded-capsule badge-soft-danger" style="width: 100%; max-width: 100px">Не оплачен<span class="ml-1 fa fa-times" data-fa-transform="shrink-2"></span></span>
</ng-template>

<ng-template #sort>
  <i class="ml-1 fa fa-sort" aria-hidden="true"></i>
</ng-template>

<ng-template #sortAsc>
  <i class="ml-1 fa fa-sort-asc" aria-hidden="true"></i>
</ng-template>

<ng-template #sortDesc>
  <i class="ml-1 fa fa-sort-desc" aria-hidden="true"></i>
</ng-template>
