<div *ngIf="string; else noContentBlock">
    <div *ngIf="string.company" class="mb-0 d-flex text-right justify-content-start text-dark">
        <span>{{string.company}}</span>
    </div>
    <strong class="mb-0 d-flex justify-content-between">
        <span *ngIf="string.name" class="text-uppercase">{{string.name}}</span>
        <p class="mb-0">
            <span *ngIf="string.isHousing" class="fa fa-home"></span>
            <span *ngIf="string.isFood" class="ml-2 fa fa-coffee"></span>
            <span *ngIf="string.salary" class="ml-2">{{string.salary}}</span>
        </p>
    </strong>
    <p class="text-justify mb-0">
        <span>
            <small>
                <strong *ngIf="string.occurrences" class="text-uppercase">{{string.occurrences}}</strong>
            </small>
        </span>
        <span *ngIf="string.address">{{string.address}}</span>
        <span *ngIf="string.requirements">{{string.requirements}}</span>
        <span *ngIf="string.responsibilities">{{string.responsibilities}}</span>
        <span *ngIf="string.conditions">{{string.conditions}}</span>
        <span *ngIf="string.contactPerson">{{string.contactPerson}}</span>
        <span *ngIf="string.phones"><strong>{{string.phones}}</strong></span>
    </p>
</div>

<ng-template #noContentBlock>
    ...No content
</ng-template>