<div class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0">Выходы</h5>
  </div>
  <div class="card-body bg-light pb-0">
    <div class="dashboard-data-table table-responsive">
      <table class="table table-sm table-dashboard fs--1">
        <thead class="bg-200 text-900">
          <tr>
            <th class="no-sort pr-1 align-middle data-table-row-bulk-select" style="Width: 20px">
            </th>
            <th class="sort pr-1 align-middle text-center">Номер</th>
            <th class="sort pr-1 align-middle text-center">Выход</th>
            <th class="sort pr-1 align-middle text-left">День недели</th>
            <th class="sort pr-1 align-middle text-center white-space-nowrap w-auto">Завершение приёма</th>
            <th class="sort pr-1 align-middle text-center">Размещение</th>
          </tr>
        </thead>
        <tbody>
          <tr class="btn-reveal-trigger" *ngFor="let graphic of graphicsToDisplay">
            <td class="align-middle white-space-nowrap">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input"
                       type="checkbox" id="{{ 'checkbox-' + graphic.id }}"
                       [disabled]="!isGraphicEnabled(graphic)"
                       [(ngModel)]="graphic.isChecked" (change)="onGraphicChanged()"/>
                <label class="custom-control-label" for="{{ 'checkbox-' + graphic.id }}"></label>
              </div>
            </td>
            <td class="align-middle text-center">{{graphic.number}}</td>
            <td class="align-middle text-center text-primary"><strong>{{graphic.outDate | date:'dd.MM.yyyy' }}</strong></td>
            <td class="align-middle text-left">{{weekdays[graphic.outDate.getDay()].name}}</td>
            <td class="align-middle text-center white-space-nowrap w-auto">{{graphic.closingDate  | date:'dd.MM.yyyy HH:mm'}}</td>
            <td class="align-middle text-center">{{getPlacementGraphics(graphic.id, graphic.isChecked)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="orderPositionData.graphicsData.length === 0 && submitted">
    <div class="text-danger d-flex justify-content-center mb-1">
      <small>Не выбран ни один график.</small>
    </div>
  </div>
  <div class="card-footer border-top">
    <app-pagination [position]="'right'" [pageSize]="8" [itemsCount]="graphics.length" [data]="graphics" (getPageData)="getPageData($event)"></app-pagination>
  </div>
  
</div>
