<div class="row no-gutters">
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 col-xxl-8 mb-3">
    <div class="card h-100">
      <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../assets/img/illustrations/corner-4.png);">
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-11 fs--1">
            <h3 class="mb-1">Корзина</h3>
            <p class="mb-1">Все новые вакансии сначала появляются здесь. Чтобы создать новую позицию нажмите кнопку "Добавить" или <a class="text-decoration-none" href="#" [routerLink]="['/order-positions/item/new']">вот сюда</a>.</p>
            <p class="mb-1">Выберите вакансии, которые хотите опубликовать. Проверьте, всё ли правильно. Нажмите "Сформировать счёт". Будет выставлен счёт и мы начнём готовить публикацию.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 col-xxl-4 mb-3">
    <app-balance></app-balance>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <app-order-positions [orderPositions]="orderPositions"></app-order-positions>
    <app-positions-basement [orderPositions]="orderPositions"></app-positions-basement>
  </div>
</div>
