<div class="card mb-3">
  <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../assets/img/illustrations/corner-4.png);">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-10">
        <h3 class="mb-0">Корзина</h3>
        <p class="mt-2">Все новые объявления сначала появляются здесь. Чтобы создать новую позицию нажмите кнопку "Добавить" или <a class="text-decoration-none" href="#" [routerLink]="['/order-positions/item/new']">вот сюда</a>.</p>
        <p class="mt-2">Выберите объявления, которые хотите опубликовать. Проверьте, всё ли правильно. Нажмите "Сформировать счёт". Будет выставлен счёт и мы начнём готовить публикацию.</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <app-order-positions [positions]="positions"></app-order-positions>
  </div>
</div>
