@keyframes wait-line-animation {
    0% {
        left: -100%;
    }
    49% {
        left: -100%;
    }
    50% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
.wait-line {
    margin: 5px 0px 5px 0px;
    border-radius: 2px;
    height: 5px;
    width: 100%;
    overflow: hidden;
}
.wait-line .bar {
    position: relative;
    height: 5px;
    width: 100%;
    background-color: dodgerblue;
    animation-name: wait-line-animation;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}