<form class="form" #f="ngForm" novalidate>
  <div class="input-group">
    <div class="col-lg-4 p-0">
      <div class="d-flex flex-nowrap">
        <div class="input-group-append w-auto"><span class="input-group-text" style="border-top-right-radius:0; border-bottom-right-radius:0">Оплата</span></div>
          <select class="form-control" name="salaryTypeSelect" #salaryType="ngModel" style="border-top-left-radius:0; border-bottom-left-radius:0"
                  required
                  [(ngModel)]="currentSalaryType" (ngModelChange)="onSalaryTypeChanged()"
                  [ngClass]="{ 'is-invalid': submitted && salaryType.errors }">
            <option *ngFor="let salaryType of salaryTypes" [ngValue]="salaryType">{{salaryType.name}}</option>
          </select>
        </div>
        <div *ngIf="salaryType.invalid" class="text-danger">
          <div *ngIf="salaryType.errors.required && submitted">
            <small>Оплата не выбрана.</small>
          </div>
        </div>
    </div>
    <div class="col-lg-5 d-flex p-0">
      <div *ngIf="currentSalaryType" [ngSwitch]="currentSalaryType.id" class="flex-fill">
        <div *ngSwitchCase="1" class="d-flex flex-nowrap flex-fill input-group">
          <input class="form-control" type="number" name="salaryValue" placeholder="Сумма" [(ngModel)]="salaryFixed">
          <ng-container *ngTemplateOutlet="salaryPercent"></ng-container>
        </div>
        <div *ngSwitchCase="2" class="d-flex flex-nowrap flex-fill input-group">
          <input class="form-control" type="number" name="salaryFrom" placeholder="От" [(ngModel)]="salaryFrom">
          <ng-container *ngTemplateOutlet="salaryPercent"></ng-container>
        </div>
        <div *ngSwitchCase="3" class="d-flex flex-nowrap flex-fill input-group">
          <input class="form-control" type="number" name="salaryTo" placeholder="До" [(ngModel)]="salaryTo">
          <ng-container *ngTemplateOutlet="salaryPercent"></ng-container>
        </div>
        <div *ngSwitchCase="4" class="d-flex flex-nowrap flex-fill input-group">
          <input class="form-control" type="number" name="salaryFrom" placeholder="От" [(ngModel)]="salaryData.from">
          <input class="form-control" type="number" name="salaryTo" placeholder="До" [(ngModel)]="salaryData.to">
          <ng-container *ngTemplateOutlet="salaryPercent"></ng-container>
        </div>
        <div *ngSwitchCase="5">
        </div>
      </div>
    </div>

    <div class="col-lg-3 p-0">
      <select *ngIf="currentSalaryType && currentSalaryType.id !== 5" class="form-control" name="currencySelect" #salary="ngModel"
              required
              [(ngModel)]="currentCurrency" (ngModelChange)="onCurrencyChanged()"
              [ngClass]="{ 'is-invalid': submitted && salary.errors }">
        <option disabled [ngValue]="undefinedCurrency">Валюта...</option>
        <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency.name}}</option>
      </select>
      <div class="invalid-feedback">Валюта не выбрана.</div>
    </div>
  </div>
</form>

<ng-template #salaryPercent>
  <div class="input-group-append">
      <span class="input-group-text">
        <div class="custom-control custom-checkbox mr-2">
          <input class="custom-control-input" type="checkbox" id="isSalaryPercent" [(ngModel)]="salaryData.isSalaryPercent">
          <label class="custom-control-label" for="isSalaryPercent"> +%</label>
        </div>
      </span>
  </div>
</ng-template>
