<div class="container-fluid">
  <app-placement #placement
    (supplierChanged)="onSupplierChanged($event)"
    (rubricChanged)="onRubricChanged($event)"
    (formatTypeChanged)="onFormatTypeChanged($event)"
    (tariffChanged)="onTariffChanged($event)">
  </app-placement>
  <div *ngIf="advertisement !== undefined">
    <app-tariff #tariff [advertisement]="advertisement" [isPackage]="false"></app-tariff>
    <div *ngIf="advertisement.string !== undefined || advertisement.module !== undefined || advertisement.format.formatTypeId === 26">
      <app-apply #apply [newAdvertisement]="advertisement.orderPositionId === 0" (submit)="onSubmitted()"></app-apply>
    </div>
  </div>
</div>



