<div class="row no-gutters justify-content-end">
    <div class="col-auto">
      <table class="table table-sm table-borderless fs--1 text-right">
        <tr>
          <th class="text-900">НДС:</th>
          <td class="font-weight-semi-bold">{{totalNds| number:'1.2-2': 'ru'}}</td>
        </tr>
        <tr class="border-top">
          <th class="text-900">Итого:</th>
          <td class="font-weight-semi-bold">{{totalSum | number:'1.2-2': 'ru'}}</td>
        </tr>
      </table>
    </div>
  </div>
