<div class="card mb-3">
  <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../assets/img/illustrations/corner-4.png);">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <h3 class="mb-0">Главная</h3>
        <p class="mt-2">Здесь можно создать новое объявление. А ещё здесь будет публиковаться что-то важное :)</p>
        <a class="btn btn-link pl-0 btn-sm" href="!#" [routerLink]="['/publication']">
          Создать объявление<span class="fa fa-chevron-right ml-1 fs--2"></span>
        </a>
      </div>
    </div>
  </div>
</div>
