<main class="main" id="top">
  <div class="container-fluid" data-layout="container">
    <nav class="navbar navbar-light navbar-vertical navbar-expand-xl navbar-card">
      <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">
          <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"
            data-toggle="tooltip"
            data-placement="left"
            title="Меню">
            <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
          </button>
        </div>
        <a class="navbar-brand" href="/">
          <div class="d-flex align-items-center py-3">
            <img class="me-2" src="../assets/img/logos/ckp_logo.png" alt="" height="40" />
          </div>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content perfect-scrollbar scrollbar">
          <ul class="navbar-nav flex-column mb-3">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']" href="#home" data-toggle="collapse" role="button"
                aria-expanded="false" aria-controls="home">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span class="fa fa-home"></span>
                  </span>
                  <span class="nav-link-text">Главная</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/basket']" href="#basket" data-toggle="collapse" role="button"
                aria-expanded="false" aria-controls="basket">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span class="fa fa-shopping-cart"></span>
                  </span>
                  <span class="nav-link-text">Корзина</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/accounts/list']" data-toggle="collapse" role="button"
                aria-expanded="false" aria-controls="accounts">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span class="fa fa-ruble"></span>
                  </span>
                  <span class="nav-link-text">Cчета</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/history']" data-toggle="collapse" role="button"
                aria-expanded="false" aria-controls="history">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span class="fa fa-history"></span>
                  </span>
                  <span class="nav-link-text">История</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">

      <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand" style="height: 68px;">
        <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button"
          data-toggle="collapse"
          data-target="#navbarVerticalCollapse"
          aria-controls="navbarVerticalCollapse"
          aria-expanded="false" aria-label="Меню">
          <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
        </button>
        <a class="navbar-brand me-1 me-sm-3" href="/">
          <div class="d-flex align-items-center">
            <img class="ml-2 me-2" src="../assets/img/logos/ckp_logo.png" alt="" height="40" />
          </div>
        </a>
        
        <ul class="navbar-nav navbar-nav-icons ml-auto flex-row align-items-center">
          <li class="nav-item">
            <span class="mr-2">{{CurrentUser !== null ? CurrentUser.clientLegalPersonName : ''}}</span>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link-text" (click)="logout()">Выйти</a>
          </li>
        </ul>
      
      </nav>
      <router-outlet></router-outlet>
      <footer>
        <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">ЦКП <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" />
              {{CurrentYear}} &copy; <a href="http://rusgazeta.ru">Центр Кадровой Прессы</a></p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">v1.0.0</p>
          </div>
        </div>
      </footer>
    </div>

  </div>
</main>