<div class="card mb-3">
  <div class="card-body bg-light overflow-hidden">
    <div class="d-flex flex-fill">
      <div *ngIf="!valid" class="flex-fill">
        <div class="flex-fill alert alert-danger my-3" role="alert">
          <strong>Объявлние заполнено не корректно. Исправьте ошибки.</strong>
        </div>
      </div>
    </div>
    <app-wait-line [isAnimated]="submitted && valid"></app-wait-line>
    <div *ngIf="newOrderPositionData; else oldOrderPositionData" class="d-flex justify-content-end">
      <button class="btn btn-outline-primary" [disabled]="submitted && valid" (click)="onClicked()">В корзину<span class="fa fa-shopping-cart ml-1"></span></button>
    </div>
  </div>
</div>

<ng-template #oldOrderPositionData>
  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-primary" [disabled]="submitted && valid" (click)="onClicked()">Сохранить<span class="ml-1"></span></button>
  </div>
</ng-template>