<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url="^(?!.*api/).*$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="4300" />
            <add input="{URL}" pattern="api.*$" />
            <add input="{HTTP_HOST}" pattern="progers2" />
          </conditions>
          <action type="Rewrite" url="http://progers2:5100/{R:1}" />
        </rule>
        <rule name="ReverseProxyInboundRule2" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{SERVER_PORT}" pattern="4300" />
            <add input="{URL}" pattern="api.*$" />
            <add input="{HTTP_HOST}" pattern="ckpress.ru" />
          </conditions>
          <action type="Rewrite" url="http://progers2:5100/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
