<form class="form" #f="ngForm" novalidate>
  <div class="input-group">
    <div class="input-group-prepend"><span class="input-group-text">Адрес</span></div>
    <input class="form-control" type="text" name="address" #address="ngModel" placeholder="Задайте адрес..."
           appMaxFieldLength maxFieldLength="{{getMaxLength('address')}}"
           [(ngModel)]="addressToDisplay" (ngModelChange)="onAddressChanged()"
           [ngClass]="{ 'is-invalid': submitted && address.errors }"
           (keypress)="onAddressChanging($event)"/>
  </div>
  <div class="d-flex flex-fill flex-nowrap">
    <div class="d-flex flex-fill">
      <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
        <div *ngIf="address.errors.maxLengthInvalid">
          <small>Превышена максимальная длинна адреса.</small>
        </div>
      </div>
    </div>
    <div style="min-width: 40pt">
      <div class="d-flex justify-content-end">
        <div>
          <small>{{addressToDisplay.length}} / {{getMaxLength('address')}}</small>
        </div>
      </div>
    </div>
  </div>
</form>
