<form class="form" #f="ngForm" novalidate>
  <div class="input-group">
      <div class="col-lg-6 d-flex flex-nowrap p-0">
        <div class="input-group-prepend"><span class="input-group-text" style="border-top-right-radius:0; border-bottom-right-radius:0">Опыт работы</span></div>
        <select class="form-control" #experience="ngModel" name="experience"
                [(ngModel)]="currentExperience" (ngModelChange)="onExperienceChanged()"
                style="border-top-left-radius:0; border-bottom-left-radius:0">
          <option class="text-muted" [ngValue]="undefinedExperience">Не выбран...</option>
          <option *ngFor="let experience of experiences" [ngValue]="experience">{{experience.name}}</option>
        </select>
      </div>
      <div class="col-lg-6 p-0">
        <div *ngIf="currentExperience && currentExperience.name === 'От'" class="d-flex flex-fill flex-nowrap">
          <input class="form-control" type="number" [(ngModel)]="experienceData.value" name="experienceValue" style="border-top-right-radius:0; border-bottom-right-radius:0">
          <div class="input-group-append"><span class="input-group-text" style="border-top-left-radius:0; border-bottom-left-radius:0">года / лет</span></div>
        </div>
      </div>
  </div>
</form>
